@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/public/js/jquery/jquery.js"></script>
    <script src="/public/bootstrap/js/bootstrap.js"></script>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="@FreeRoo.Runtime.SiteInfo.Domain">@FreeRoo.Runtime.SiteInfo.Name</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    @{
                        foreach(var item in FreeRoo.TemplateDataHelper.GetCategories())
                        {
                            <li><a href="/@item.CategoryName/">@item.CTitle</a></li>
                        }
                    }
                </ul>
            </div>
        </nav>
        <div class="col-sm-8" style="padding-left:0px;">
            @RenderBody()
        </div>
        <div class="col-sm-4" style="padding-right:0px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        分享
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        我的标签
                    </h3>
                </div>

                <div class="panel-body">
                    @{
                        foreach (var item in FreeRoo.TemplateDataHelper.GetArticleTags())
                        {
                            <a href="/tag/@item.TagName">@item.TagName</a>
                        }
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        友情链接
                    </h3>
                </div>

                <div class="panel-body">
                    @{
                        foreach (var item in FreeRoo.TemplateDataHelper.GetLoveLinks())
                        {
                            <a href="/tag/@item.LHref .html">@item.LTitle</a>
                        }
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Copyright
                    </h3>
                </div>

                <div class="panel-body">
                    <p>Copyright <a href="@FreeRoo.Runtime.SiteInfo.Domain">@FreeRoo.Runtime.SiteInfo.Domain</a></p>
                    <p>Powered by <a href="http://freeroo.com">freeroo</a></p>
                    
                    <p>@FreeRoo.Runtime.SiteInfo.TongJi</p>
                </div>
            </div>
        </div>
    </div>
    <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "32" }, "share": {}, "image": { "viewList": ["qzone", "tsina", "weixin", "tqq", "renren", "youdao"], "viewText": "分享到：", "viewSize": "16" }, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "weixin", "tqq", "renren", "youdao"] } }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
</body>
</html>

